*{
  margin: 0px;
  padding: 0px;
}

.footer-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}

.footer-main-dev{
  display: flex;
    align-items: center;
}